@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Bytefunds.Cms.Logic.Helpers;

@{
    Layout = "_Layout.cshtml";

    IContentType ct = ApplicationContext.Services.ContentTypeService.GetContentType("ProductElement");
    IEnumerable<IContent> contents = ApplicationContext.Services.ContentService.GetContentOfContentType(ct.Id).Where(c => c.Status != ContentStatus.Trashed);

    IPublishedContent news = Model.Content.Ancestor(1).Children.Where(e => e.Name.Contains("News")).FirstOrDefault();
    IEnumerable<IPublishedContent> newsList = null;
    if (news != null && news.Children.Count() > 0)
    {
        newsList = news.Children().OrderByDescending(e => e.UpdateDate).Skip(0).Take(10);
    }
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    MemberLoginViewModel loginModel = new MemberLoginViewModel();
    


    decimal sumAmount = decimal.Parse(SystemSettingsHelper.GetSystemSettingsByKey("sum:amount"));
    decimal amount1 = decimal.Parse(SystemSettingsHelper.GetSystemSettingsByKey("amounted"));
    string number1 = ((amount1 / sumAmount) * 100).ToString("f2") + "%";
}

<div class="banner clearfix" style="position: relative">
    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">
        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner-fullwidth">
                <ul class="slides">
                    <!-- slide 1 start -->
                    <!-- ================ -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="/assets/images/banner/banner01.jpg" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <!-- Transparent Background -->
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="600"
                             data-start="0">
                        </div>
                    </li>
                    <!-- slide 1 end -->
                    <!-- slide 2 start -->
                    <!-- ================ -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="/assets/images/banner/banner02.jpg" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <!-- Transparent Background -->
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="600"
                             data-start="0">
                        </div>
                    </li>
                    <!-- slide 2 end -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- slider revolution end -->
    </div>
    <!-- slideshow end -->
    <div class="banner-float hidden-sm hidden-xs">
        <h2 class="banner-float-1">高于活期存款<strong>50</strong><span>倍</span> 以上的收益</h2>
        <div class="separator banner-float-2" style="top:25%"></div>
        <p class="banner-float-3">已有 <span>1596</span> 位高端客户在比特金服安全的获得收益</p>
        <p class="banner-float-4">零钱计划为您安全快速的赚钱</p>
        <p><a class="btn btn-block banner-float-5 btn-buy" href="/productdetails?id=2336">点击立即购买</a></p>
        <p class="banner-float-6">没有账户，<a href="/register">免费注册</a></p>
    </div>
</div>
<div id="page-start"></div>
<section class="clearfix news">
    <div class="container">
        <div class="row">
            <div class="col-md-2 news-title">
                <span>最新公告</span><span><i class="fa fa-volume-up"></i></span>
            </div>
            <div class="col-md-6 news-1-content">
                <ul class="list" id="news-1">
                    <li class="animated fadeInUp"><span>2015-08-25</span><a href="#">360互联+指数上线 反映市场情绪发现市场价值</a></li>
                </ul>
                <table class="news-content-1" style="display: none">
                    @{
                        foreach (var item in newsList)
                        {
                            <tr>
                                <td>@(item.CreateDate.ToString("yyyy-MM-dd"))</td>
                                <td>@(item.Url)</td>
                                <td>@(item.GetPropertyValue<string>("title"))</td>
                            </tr>
                        }
                    }
                    @*<tr>
                            <td>2015-09-02</td>
                            <td>#</td>
                            <td>金融惊艳市场 你财富活期宝翻倍券半天售4亿</td>
                        </tr>
                        <tr>
                            <td>2015-09-01</td>
                            <td>#</td>
                            <td>金融独立品牌亮相 创始人详解为何做金融业务</td>
                        </tr>
                        <tr>
                            <td>2015-08-25</td>
                            <td>#</td>
                            <td>互联+指数上线 反映市场情绪发现市场价值</td>
                        </tr>*@
                </table>
            </div>
            <div class="col-md-4">
                <a href="/news" style="color:rgb(134,134,134);text-decoration:none;line-height:30px;">更多 >></a>
            </div>
            @*<div class="col-md-4 news-2-content">
                    <ul class="list" id="news-2">
                        <li class="animated fadeInUp"><span>3分钟前</span>用户: <span class="account">180000000043</span><span class="invested-content">成功投资47000元</span></li>
                    </ul>
                    <table class="news-content-2" style="display: none">
                        <tr>
                            <td>3分钟前</td>
                            <td>130000000053</td>
                            <td>成功投资47000元</td>
                        </tr>
                        <tr>
                            <td>4分钟前</td>
                            <td>130000000063</td>
                            <td>成功投资60000元</td>
                        </tr>
                        <tr>
                            <td>5分钟前</td>
                            <td>150000000053</td>
                            <td>成功投资100000元</td>
                        </tr>
                    </table>
                </div>*@
        </div>
    </div>
</section>

<section class="pv-20 clearfix">
    <div class="container hot-product">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">热销产品</h2>
                <div class="separator"></div>
            </div>
            <div class="col-xs-12" style="height: 10px;"></div>
            <div class="image-box">
                <div class="col-md-5">
                    <img src="/assets/images/hot/bytejinfu.jpg" alt="" style="width: 100%">
                </div>
                <div class="col-md-7">
                    <div class="body">
                        <h3>鹏华资产实盈量化复兴资产管理计划（主推）</h3>
                        <div class="separator-2"></div>
                        <div class="raise-funds">
                            <p><span class="raise-funds-title">开 放 额 度：</span><span class="cash">@(sumAmount.ToString("N2"))</span>元</p>
                            <p><span class="raise-funds-title">已募集资金：</span><span class="cash">@(amount1.ToString("N2"))</span>元</p>
                            <div class="progress mt-30 style-1">
                                <span class="text"></span>
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" data-animate-width="@number1">
                                    <span class="label object-non-visible animated object-visible fadeInLeftSmall" data-animation-effect="fadeInLeftSmall" data-effect-delay="500"></span>
                                </div>
                            </div>
                        </div>
                        <p class="raise-funds-content">本私募产品是由鹏华资产管理有限公司发行的ETF期现套利对冲基金产品，仅接受合格投资人购买。预期收益可达<span class="earnings">66.9%</span>最大回撤0.67%，属于低风险高收益量化投资产品。</p>
                        <div style="position: relative">
                            <span class="btn btn-animated btn-warning margin-clear reservation-btn">立即预约<i class="fa fa-arrow-right pl-10"></i></span>
                            <a href="/funds" class="reservation-more">了解更多>></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<section class="section default-bg clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <img src="/assets/images/Backup_of_bitejinfu.png" alt="" style="margin: auto; height: 100%" />
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <p><a href="/register" class="btn btn-lg btn-gray-transparent btn-animated">马上注册<i class="fa fa-arrow-right pl-10"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<section id="" class="pv-20  clearfix light-gray-bg">
    <div class="container ">
        <div class="row online-product">
            <div class="grid-space-10">
                @{
                    foreach (IContent item in contents.OrderBy(e => e.GetValue<int>("sort")))
                    {
                        decimal amount = item.GetValue<decimal>("sumAmount");
                        decimal purchasedAmount = item.GetValue<decimal>("purchasedAmount");

                        string number = ((purchasedAmount / amount) * 100).ToString("f2") + "%";

                        <div class="col-md-3 col-sm-6 boxed object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <div class="listing-item white-bg bordered mb-20">
                                <div class="body">
                                    <h2 class="subject">@(item.GetValue<string>("title"))</h2>
                                    <h4>@(item.GetValue<string>("title2"))</h4>
                                    <div class="title">
                                        <p>@(item.GetValue<string>("title3"))</p>
                                    </div>
                                    <div class="progress style-1">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: @number"></div>
                                    </div>
                                    <div class="cash">
                                        <p><span class="cash-now">@purchasedAmount.ToString("N2") 元</span> / <span>@amount.ToString("N2") 元</span></p>
                                    </div>
                                    <p class="content">@(item.GetValue<string>("introduction"))</p>
                                    <div class="clearfix benefit-content">
                                        <div class="col-xs-6">
                                            <h3 class="benefit-percent">@(item.GetValue<string>("rate"))</h3>
                                            <h4>年化收益</h4>
                                        </div>
                                        <div class="v-line"></div>
                                        <div class="col-xs-6">
                                            <h3>@(item.GetValue<string>("cycle"))</h3>
                                            <h4>项目期限</h4>
                                        </div>
                                        <div class="col-xs-12">
                                            <h4>起投金额：@(item.GetValue<double>("startAmount").ToString("N2")) 元</h4>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="/productdetails?id=@item.Id" class="btn btn-block btn-warning">立即投标</a>
                                        @*<a class="btn btn-block btn-gray btn-warning">敬请期待..</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<section id="achievement" class="pv-20 clearfix">
    <div class="container achievement">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">历史业绩及常见问题</h2>
                <div class="separator"></div>
                <p class="large text-center"></p>
            </div>
            <div class="col-md-6">
                <div class="owl-carousel content-slider-with-large-controls" style="position: relative;">
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/images/achievement/ach01.jpg" alt="">
                        <div class="overlay-bottom hidden-xs"></div>
                        <div>
                            <h4>方正副邦-合生强债（量化部分）</h4>
                            <p class="benefit">年化收益率: <strong>12.96%</strong></p>
                        </div>
                        <a href="/assets/images/achievement/ach01.jpg" class="popup-img overlay-link hidden-xs" title="方正副邦-合生强债（量化部分）"><i class="icon-zoom-in"></i></a>
                    </div>
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/images/achievement/ach02.jpg" alt="">
                        <div class="overlay-bottom hidden-xs"></div>
                        <div>
                            <h4>东航金融-自营盘1号</h4>
                            <p class="benefit">年化收益率: <strong>15.06%</strong></p>
                        </div>
                        <a href="/assets/images/achievement/ach02.jpg" class="popup-img overlay-link hidden-xs" title="东航金融-自营盘1号"><i class="icon-zoom-in"></i></a>
                    </div>
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/images/achievement/ach03.jpg" alt="">
                        <div class="overlay-bottom hidden-xs"></div>
                        <div>
                            <h4>东航金融-小金牛-固收2号</h4>
                            <p class="benefit">年化收益率: <strong>19.05%</strong></p>
                        </div>
                        <a href="/assets/images/achievement/ach03.jpg" class="popup-img overlay-link hidden-xs" title="东航金融-小金牛-固收2号"><i class="icon-zoom-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 problem">
                <div class="panel-group collapse-style-2" id="accordion-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-1" class="collapsed">
                                    1、什么是“ETF期限对冲基金”？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span></span>简单来讲，“ETF期现对冲基金”是“ETF套利+股指期货对冲”的一种复合式基金。首先，套利主要通过ETF的跨市场交易完成的。当ETF市价（即二级市场价格）高于ETF净值（即一级市场价格）时，ETF产生了溢价，此时投资者可以通过在股市中购买成分股组合，按照成分股规则申购成ETF份额，然后在二级市场以市价卖出进行套利；ETF市价低于ETF净值，则称为ETF产生折价，投资者可以通过在二级市场上买入ETF份额并赎回其对应的一揽子股票，然后再从股市中卖出进行套利。所以说，通过同一商品在不同市场上价格出现偏离而获利的方式就是套利，这也是风险很低的一种投资方式。当然，比特对产品的收益和风控追求完美，我们总在探索和完善数学模型，所以比特在套利的基础上做空股指期货，进一步规避了大盘暴跌而带来的投资风险。这等于给您的资金又上了一把锁！让我们开始吧！
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed">
                                    2、什么是量化交易？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span></span>量化交易是指借助现代统计学和数学的方法，利用计算机技术来进行交易的证券投资方式。量化交易从庞大的历史数据中海选能带来超额收益的多种“大概率”事件以制定策略，用数量模型验证及固化这些规律和策略，然后严格执行已固化的策略来指导投资，以求获得可以持续的、稳定且高于平均收益的超额回报。
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-3" class="collapsed">
                                    3、什么是委托计划？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span></span>甲方接受资金委托人的委托，对委托资金提供代理投资和管理，并由乙方依本协议约定保障资金委托人本金及收益的计划。
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-4" href="#collapseTwo-4">
                                    4、什么是固定年化收益？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-4" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <span></span>以所委托的本金计算，一年所能产生的固定收益。 <br /> 甲方每年实际收益=委托资金×固定年化收益
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-4" href="#collapseTwo-5" class="collapsed">
                                    5、什么是产品期限？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span></span>指在本协议委托理财服务总期限内，受托人依据委托人每一次申请的并生效的《ETF期限对冲基金认购书》中说申购及续期的产品期限
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-4" href="#collapseTwo-6" class="collapsed">
                                    6、若已购买产品需要续期，如何计算收益？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span></span>续期后投资期限达到下个投资期限区间，则续期内的收益按照达到投资期限区间的年化收益计算收益，若甲方在续期内增加投资资金，则新增投资资金按首次投资的投资期限区间年化收益计算收益。甲方可选择月度领取收益，也可在确定投资期限到期后一次性领取收益。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<section id="guarantee" class="section clearfix light-gray-bg">
    <div class="container guarantee">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">为什么选择比特金服</h2>
                <div class="separator"></div>
                <p class="large text-center">纯P2F平台，专注于投资ETF对冲套利产品，帮助客户安全获得高收益</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pv-30 ph-30 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <div class="icon without-bg"><img src="/assets/images/guarantee/01.png" alt="" /></div>
                    <div class="body">
                        <h4 class="title text-center">资金安全保障</h4>
                        <p class="text-center">资金由招商银行进行托管，鹏华基金作为资金管理人，平安保险全程财产保险，保障资金安全</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pv-30 ph-30 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <div class="icon without-bg"><img src="/assets/images/guarantee/02.png" alt="" /></div>
                    <div class="body">
                        <h4 class="title text-center">风险控制保障</h4>
                        <p class="text-center">专业风控团队严格把控债权风险，3000万元分先储备金作为劣后资金，实盈投资公司作为第三方本息保障机构</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pv-30 ph-30 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <div class="icon without-bg"><img src="/assets/images/guarantee/03.png" alt="" /></div>
                    <div class="body">
                        <h4 class="title text-center">数据安全保障</h4>
                        <p class="text-center">服务器托管在阿里云并多重备份，128位通信加密及多重防火墙确保数据安全，按照法律法规保护用户隐私</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pv-30 ph-30 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <div class="icon without-bg"><img src="/assets/images/guarantee/04.png" alt="" /></div>
                    <div class="body">
                        <h4 class="title text-center">法律法规保障</h4>
                        <p class="text-center">专业律所对客户投资行为提供法律保障，债券转让方式符合国家法律法规，广州岭南律师事务所提供法律支持</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<!-- ================ -->
<section class="pv-20 clearfix" id="cooperation">
    <div class="container" style="padding-bottom: 20px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">合作机构</h2>
                <div class="separator"></div>
                <p class="large text-center"></p>
            </div>
            <div class="clients-container col-md-12">
                <div class="clients">
                    <div class="col-md-2 col-xs-4 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="30">
                        <img src="/assets/images/cooperation/04.png" class="clients-img" alt="">
                    </div>
                    <div class="col-md-2 col-xs-4 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="50">
                        <img src="/assets/images/cooperation/05.png" class="clients-img" alt="">
                    </div>
                    <div class="col-md-2 col-xs-4 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="70">
                        <img src="/assets/images/cooperation/06.png" class="clients-img" alt="">
                    </div>
                    <div class="col-md-2 col-xs-4 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="90">
                        <img src="/assets/images/cooperation/01.png" class="clients-img" alt="">
                    </div>
                    <div class="col-md-2 col-xs-4 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="110">
                        <img src="/assets/images/cooperation/02.png" class="clients-img" alt="">
                    </div>
                    <div class="col-md-2 col-xs-4 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="130">
                        <img src="/assets/images/cooperation/03.png" class="clients-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("ModalReservation")
<!-- section end -->
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
