@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";


    IPublishedContent banners = Model.Content.Children.Where(e => e.Name.Contains("Banners")).FirstOrDefault();
    IPublishedContent contentbanner01 = banners.Children.Where(e => e.Name.Contains("01")).FirstOrDefault();
    IPublishedContent contentbanner02 = banners.Children.Where(e => e.Name.Contains("02")).FirstOrDefault();
    IPublishedContent contentbanner03 = banners.Children.Where(e => e.Name.Contains("03")).FirstOrDefault();
    IPublishedContent contentbanner04 = banners.Children.Where(e => e.Name.Contains("04")).FirstOrDefault();
    IPublishedContent contentbanner05 = banners.Children.Where(e => e.Name.Contains("05")).FirstOrDefault();

    IPublishedContent imgbanner01 = Umbraco.Media(contentbanner01.GetPropertyValue<int>("img"));
    IPublishedContent imgbanner02 = Umbraco.Media(contentbanner02.GetPropertyValue<int>("img"));
    IPublishedContent imgbanner03 = Umbraco.Media(contentbanner03.GetPropertyValue<int>("img"));
    IPublishedContent imgbanner04 = Umbraco.Media(contentbanner04.GetPropertyValue<int>("img"));
    IPublishedContent imgbanner05 = Umbraco.Media(contentbanner05.GetPropertyValue<int>("img"));

    IPublishedContent development = Model.Content.Children.Where(e => e.Name.Contains("Development")).FirstOrDefault();

    IPublishedContent register = Model.Content.Children.Where(e => e.Name.Contains("Register")).FirstOrDefault();

    IPublishedContent LatestNews = Model.Content.Children.Where(e => e.Name.Contains("LatestNews")).FirstOrDefault();

    IPublishedContent user = Model.Content.Children.Where(e => e.Name.Contains("User")).FirstOrDefault();

    IPublishedContent partners = Model.Content.Children.Where(e => e.Name.Contains("Partners")).FirstOrDefault();

    IPublishedContent news = Model.Content.Ancestor(1).Children.Where(e => e.Name.Contains("News")).FirstOrDefault();
    IEnumerable<IPublishedContent> newsList = null;
    if (news != null && news.Children.Count() > 0)
    {
        newsList = news.Children().OrderByDescending(e => e.UpdateDate).Skip(0).Take(10);
    }
}

<div id="banner" class="banner clearfix">
    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">
        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner-fullscreen">
                <ul class="slides">
                    <!-- slide 1 start -->
                    <!-- ================ -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="@imgbanner01.Url" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="0">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfr stl xlarge_white"
                             data-x="center"
                             data-y="50"
                             data-speed="200"
                             data-easing="easeOutQuad"
                             data-start="1000"
                             data-end="2500"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-splitout="chars">
                            @*全球首发！*@
                            @(contentbanner01.GetPropertyValue<string>("remark1"))
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfl str xlarge_white"
                             data-x="center"
                             data-y="50"
                             data-speed="200"
                             data-easing="easeOutQuad"
                             data-start="2500"
                             data-end="4000"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-splitout="chars">
                            @*全球首发！*@
                            @(contentbanner01.GetPropertyValue<string>("remark1"))
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfr stt xlarge_white"
                             data-x="center"
                             data-y="50"
                             data-speed="200"
                             data-easing="easeOutQuad"
                             data-start="4000"
                             data-end="6000"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-splitout="chars"
                             data-endspeed="400">
                            @*ALGOFORCE®量化系统*@
                            @(contentbanner01.GetPropertyValue<string>("remark2"))
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sft fadeout text-center large_white"
                             data-x="center"
                             data-y="50"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="7500"
                             data-end="10000">
                            @*ALGOFORCE<sup>®</sup> 全球最完美的量化交易系统*@
                            @(Html.Raw(contentbanner01.GetPropertyValue<string>("remark3")))
                        </div>


                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                             data-x="center"
                             data-y="150"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="6400"
                             data-end="10000">
                            <div class="separator light"></div>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption sft fadeout medium_white text-center"
                             data-x="center"
                             data-y="190"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="5800"
                             data-end="10000"
                             data-endspeed="600">
                            @*<p>基于对金融市场各类交易标存在的波动率、相关性、交易报价与交易资金等一系列有效数据收集 </p> <p> 后，使用自主研发的各类数学模型进行分析判断，最终通过算法交易有效的消除系统风险，实现</p><p> 稳定套利与绝对收益。</p>*@
                            <p>@(contentbanner01.GetPropertyValue<string>("remark4"))</p>
                            <p>@(contentbanner01.GetPropertyValue<string>("remark5"))</p>
                            <p>@(contentbanner01.GetPropertyValue<string>("remark6"))</p>
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption fade fadeout"
                             data-x="center"
                             data-y="bottom"
                             data-voffset="100"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="2000"
                             data-end="10000"
                             data-endspeed="200">
                            <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                        </div>

                        <!-- LAYER NR. 6 -->
                        @*<div class="tp-caption sfb fadeout small_white"
                                   data-x="left"
                                   data-y="420"
                                   data-speed="500"
                                   data-start="2500"
                                   data-easing="easeOutQuad"
                                   data-endspeed="600">
                                <a href="#" class="btn btn-default btn-lg btn-animated" style="background-color:#CD9F2E;border-color:#CD9F2E"><i class="fa  fa-caret-right"></i>了解更多</a>
                            </div>*@
                    </li>
                    <!-- slide 1 end -->
                    <!-- slide 2 start -->
                    <!-- ================ -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="@imgbanner02.Url" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="0">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb fadeout large_white"
                             data-x="left"
                             data-y="70"
                             data-speed="500"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-end="10000">
                            @*<span class="logo-font">The Project</span> <br> Premium HTML5 Bootstrap Theme*@
                            @*实盈出席上海国际电影节*@
                            @(contentbanner02.GetPropertyValue<string>("remark1"))
                        </div>
                        <div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
                             data-x="left"
                             data-y="120"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="800"
                             data-end="10000"
                             data-endspeed="600">
                            <div class="separator light"></div>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="150"
                             data-speed="500"
                             data-start="1300"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            @*第21届上海电视节目白玉兰奖揭晓*@
                            <p>@(contentbanner02.GetPropertyValue<string>("remark2"))</p>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfb fadeout text-left small_white"
                             data-x="left"
                             data-y="230"
                             data-speed="500"
                             data-start="1600"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            @*实盈团队远赴上海出席本次电影节，为团队成员柯利明现场助威，同时实盈在此兴奋的宣布*@
                            @*儒意实盈量化影视基金正式宣布起航！*@
                            <p>@(contentbanner02.GetPropertyValue<string>("remark3"))</p>
                            <p>@(contentbanner02.GetPropertyValue<string>("remark4"))</p>
                        </div>

                        <!-- LAYER NR. 4 -->
                        @*<div class="tp-caption sfb fadeout text-left small_white"
                                 data-x="left"
                                 data-y="270"
                                 data-speed="500"
                                 data-start="1900"
                                 data-easing="easeOutQuad"
                                 data-endspeed="600">

                                @(contentbanner02.GetPropertyValue<string>("remark4"))
                            </div>*@
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="@imgbanner03.Url" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="0">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb fadeout large_white"
                             data-x="left"
                             data-y="70"
                             data-speed="500"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-end="10000">
                            @*至尊盈伍号*@
                            @(contentbanner03.GetPropertyValue<string>("remark1"))
                        </div>
                        <div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
                             data-x="left"
                             data-y="120"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="900"
                             data-end="10000"
                             data-endspeed="600">
                            <div class="separator light"></div>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="150"
                             data-speed="500"
                             data-start="1300"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            @*每月利息，年化收益率高达14%*@
                            <p>@(contentbanner03.GetPropertyValue<string>("remark2"))</p>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfb fadeout text-left small_white"
                             data-x="left"
                             data-y="230"
                             data-speed="500"
                             data-start="1600"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            @*"至尊盈伍号"是实盈投资退出的按月回收收益的理财服务模式*@
                            @*本金选择继续投资，利息按月回收，每月收益高达1.17%。选择逐月续存，收益档次自动累计*@
                            @*年息高达10.08%*@
                            <p>@(contentbanner03.GetPropertyValue<string>("remark3"))</p>
                            <p>@(contentbanner03.GetPropertyValue<string>("remark4"))</p>
                            <p>@(contentbanner03.GetPropertyValue<string>("remark5"))</p>
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption sfb fadeout small_white"
                             data-x="left"
                             data-y="390"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <a href="@contentbanner03.Children.FirstOrDefault().Url" class="btn btn-default btn-lg btn-animated" style="background-color:#CD9F2E;border-color:#CD9F2E"><i class="fa fa-caret-right"></i>@(contentbanner03.GetPropertyValue<string>("urltitle"))</a>
                        </div>
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="@imgbanner04.Url" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="0">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfr stl xlarge_white"
                             data-x="center"
                             data-y="50"
                             data-speed="200"
                             data-easing="easeOutQuad"
                             data-start="1000"
                             data-end="2500"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-splitout="chars">
                            @(contentbanner04.GetPropertyValue<string>("remark1"))
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfl str xlarge_white"
                             data-x="center"
                             data-y="50"
                             data-speed="200"
                             data-easing="easeOutQuad"
                             data-start="2500"
                             data-end="4000"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-splitout="chars">
                            @(contentbanner04.GetPropertyValue<string>("remark1"))
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfr stt xlarge_white"
                             data-x="center"
                             data-y="50"
                             data-speed="200"
                             data-easing="easeOutQuad"
                             data-start="4000"
                             data-end="6000"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-splitout="chars"
                             data-endspeed="400">
                            @(contentbanner04.GetPropertyValue<string>("remark2"))
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sft fadeout text-center large_white"
                             data-x="center"
                             data-y="50"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="7500"
                             data-end="10000">
                            @(contentbanner04.GetPropertyValue<string>("remark2"))
                        </div>


                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                             data-x="center"
                             data-y="150"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="6400"
                             data-end="10000">
                            <div class="separator light"></div>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption sft fadeout medium_white text-center"
                             data-x="center"
                             data-y="190"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="5800"
                             data-end="10000"
                             data-endspeed="600">
                            <p>@(Html.Raw(contentbanner04.GetPropertyValue<string>("remark3")))</p>
                            <p>@(contentbanner04.GetPropertyValue<string>("remark4"))</p>
                            <p>@(contentbanner04.GetPropertyValue<string>("remark5"))</p>
                        </div>


                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption sfb fadeout small_white"
                             data-x="center"
                             data-y="420"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <a href="@contentbanner04.Children.FirstOrDefault().Url" class="btn btn-default btn-lg btn-animated" style="background-color:#CD9F2E;border-color:#CD9F2E"><i class="fa fa-caret-right"></i>@(contentbanner04.GetPropertyValue<string>("urltitle"))</a>
                        </div>
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <!-- main image -->
                        <img src="@imgbanner05.Url" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="0">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb fadeout large_white"
                             data-x="left"
                             data-y="70"
                             data-speed="500"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-end="10000">
                            @*<span class="logo-font">The Project</span> <br> Premium HTML5 Bootstrap Theme*@
                            @*实盈出席上海国际电影节*@
                            @(contentbanner05.GetPropertyValue<string>("remark1"))
                        </div>
                        <div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
                             data-x="left"
                             data-y="120"
                             data-speed="500"
                             data-easing="easeOutQuad"
                             data-start="800"
                             data-end="10000"
                             data-endspeed="600">
                            <div class="separator light"></div>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="150"
                             data-speed="500"
                             data-start="1300"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <p>@(contentbanner05.GetPropertyValue<string>("remark2"))</p>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfb fadeout text-left small_white"
                             data-x="left"
                             data-y="230"
                             data-speed="500"
                             data-start="1600"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <p>@(contentbanner05.GetPropertyValue<string>("remark3"))</p>
                            <p>@(contentbanner05.GetPropertyValue<string>("remark4"))</p>
                        </div>
                        <div class="tp-caption sfb fadeout small_white"
                             data-x="left"
                             data-y="420"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <a href="@contentbanner05.Children.FirstOrDefault().Url" class="btn btn-default btn-lg btn-animated" style="background-color:#CD9F2E;border-color:#CD9F2E"><i class="fa fa-caret-right"></i>@(contentbanner05.GetPropertyValue<string>("urltitle"))</a>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- slider revolution end -->
    </div>
</div>

<section class="section clearfix">
    <div class="container">
        <h2 class="text-center">热销产品</h2>
        <div class="separator"></div>
        <div class="row grid-space-10">
            @{
                int contentTypeid = ApplicationContext.Services.ContentTypeService.GetContentType("ProductElement").Id;
                IEnumerable<IContent> lists = ApplicationContext.Services.ContentService.GetContentOfContentType(contentTypeid);
                foreach (IContent item in lists)
                {
                    int img = item.GetValue<int>("img");
                    <div class="col-sm-6 col-md-3">
                        <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center boxed object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                            <div class="overlay-container">
                                <img src="@Umbraco.Media(img).Url" alt="">
                                <div class="overlay-to-top">
                                    <p class="small margin-clear">@(item.GetValue<string>("title"))</p>
                                </div>
                            </div>
                            <div class="body">
                                <h4>金额 @(item.GetValue<string>("amount")) 收益 @(item.GetValue<string>("rate"))</h4>
                                <h5>周期 @(item.GetValue<string>("cycle"))</h5>
                                <div class="separator"></div>
                                <p>@(item.GetValue<string>("introduction"))</p>
                                <a data-id="@item.Id" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear productBtn">详情<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<!-- section -->
<!-- ================ -->
<section class="pv-30" id="development">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">@(development.GetPropertyValue<string>("title"))</h2>
                <div class="separator"></div>
                <p class="large text-center">@(development.GetPropertyValue<string>("content").ReomveHtmlAttribute())</p>
            </div>
        </div>
        <div class="row">
            @{
                foreach (IPublishedContent content in development.Children)
                {
                    int linkid = content.GetPropertyValue<int>
                        ("urllink");
                    dynamic childrenContent = Umbraco.Content(linkid);
                    if (childrenContent.Id != 0)
                    {
                        <div class="col-md-4 ">
                            <div class="pv-40 ph-40 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                                <div class="icon without-bg"><i class="@(content.GetPropertyValue<string>("style"))"></i></div>
                                <div class="body">
                                    <h4 class="title text-center">@(content.GetPropertyValue<string>("title"))</h4>
                                    <p class="text-center">@(content.GetPropertyValue<string>("content").ReomveHtmlAttribute())</p>
                                    <p class="text-center"><a href="@(childrenContent.Url)">@(content.GetPropertyValue<string>("urltitle"))</a></p>
                                </div>
                            </div>
                        </div>
                    }

                }
            }
        </div>
    </div>
</section>
<!-- ================ -->
<section class="section dark-bg clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="title">@(register.GetPropertyValue<string>("title"))</h1>
                            <p>@(register.GetPropertyValue<string>("content").ReomveHtmlAttribute())</p>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <p><a href="@(Umbraco.Content(register.GetPropertyValue<int>("btnlink")).Url)" class="btn btn-lg btn-gray-transparent btn-animated" style="border-color: #FFFFFF">@(register.GetPropertyValue<string>("registerbtn"))<i class="fa fa-arrow-right pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<section id="services" class="section light-gray-bg clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">@(LatestNews.GetPropertyValue<string>("title"))</h2>
                <div class="separator"></div>
            </div>
        </div>
    </div>
    <div class="owl-carousel carousel-autoplay pl-10 pr-10">
        @{
            foreach (IPublishedContent content in newsList)
            {
                IPublishedContent img = Umbraco.Media(content.GetPropertyValue<int>
                    ("img"));


                <div class="listing-item pl-10 pr-10 mb-20  object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <div class="overlay-container bordered overlay-visible newsbtn" data-id="@content.Id">

                        <div class="overlay-container overlay-visible">
                            <img src="@img.Url" alt="" style="width:100%">
                            <span class="overlay-link"><i class="fa fa-plus"></i></span>
                            <div class="overlay-bottom hidden-xs">
                                <div class="text">
                                    <p class="lead margin-clear text-left">@(content.GetPropertyValue<string>("title"))</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            @(Html.Raw(content.GetPropertyValue<string>("briefintroduction")))
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</section>

<div id="portfolio" class="section pv-30 light-gray-bg">
    <div class="owl-carousel content-slider space-top">
        @{
            foreach (IPublishedContent content in user.Children)
            {
                IPublishedContent headimg = Umbraco.Media(content.GetPropertyValue<int>
                    ("img"));

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonial text-center">
                                <div class="testimonial-image">
                                    <img src="@headimg.Url" alt="Jane Doe" title="Jane Doe" class="img-circle">
                                </div>
                                @*<h3>@(content.GetPropertyValue<string>("title"))</h3>*@
                                <div class="separator"></div>
                                <div class="testimonial-body">
                                    <blockquote>
                                        @(Html.Raw(content.GetPropertyValue<string>("content")))
                                    </blockquote>
                                    <div class="line"></div>
                                    <div class="testimonial-info-1">@(content.GetPropertyValue<string>("remark1"))</div>
                                    <div class="testimonial-info-2">@(content.GetPropertyValue<string>("remark2"))</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<section id="cooperation" class="light-gray-bg pv-30 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">@(partners.GetPropertyValue<string>("title"))</h2>
                <div class="separator"></div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="clients-container">
                    <div class="clients">
                        @{
                            object obj = partners.GetPropertyValue("partners");
                            List<string>
                                list = obj.ToString().Split(',').ToList();
                            int a = 1;
                            foreach (var item in list.Skip(0).Take(5))
                            {
                                string time = (a * 200).ToString();
                                <div style="width:160px;height:160px" class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="@time">
                                    <img src="@(Umbraco.Media(int.Parse(item)).Url)" alt="">
                                </div>
                                a++;
                            }
                            <p></p>
                            foreach (var item in list.Skip(5).Take(5))
                            {
                                string time = (a * 200).ToString();
                                <div style="width:160px;height:160px" class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="@time">
                                    <img src="@(Umbraco.Media(int.Parse(item)).Url)" alt="">
                                </div>
                                a++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#C6AB5C">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">实盈投资</h4>
            </div>
            <div class="modal-body" style="min-height:300px">
                <div style="max-width:700px;margin:0 auto" id="content">
                    <div>
                        <img style="margin:0 auto" src="/assets/images/loading.jpg" alt="loading" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalproduct" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#C6AB5C">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myProductModalLabel">实盈投资</h4>
            </div>
            <div class="modal-body" style="min-height:300px">
                <div style="max-width:700px;margin:0 auto" id="productcontent">
                    <div>
                        <img style="margin:0 auto" src="/assets/images/loading.jpg" alt="loading" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="buyaction" href="/Pay/" class="btn btn-success btn-sm">立即购买</a>
                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
