@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    string id = Request.QueryString["id"];
    IPublishedContent content = Umbraco.Content(int.Parse(id));
    double sumAmount = content.GetPropertyValue<double>("sumAmount");
    double purchasedAmount = content.GetPropertyValue<double>("purchasedAmount");
    string number = ((purchasedAmount / sumAmount) * 100).ToString("f0");
}

@Html.Partial("ModalReservation")

<section class="pv-30 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 bid-left">
                <div class="description-title">
                    <h4>@(content.GetPropertyValue<string>("title"))</h4>
                </div>
                <p>@(content.GetPropertyValue<string>("title2"))</p>
                <div class="row">
                    <div class="col-sm-2" id="indicatorContainer">

                    </div>
                    <div class="col-sm-10">
                        <h4 class="bid-title">项目金额： <span class="">@(sumAmount.ToString("N2")) 元</span>最低起投： <span>@(content.GetPropertyValue<double>("startAmount").ToString("N2")) 元</span></h4>
                        <p>已经完成投标<span class="bid-now">@(purchasedAmount.ToString("N2"))</span>元 , 即刻投资收益自<span class="bid-date">@(DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"))</span>起算，每万元预期收益<span class="bid-benefit" id="rate">0.00</span>元</p>
                        <input type="hidden" id="indicatorValue" value="@number" />
                    </div>
                </div>
                <hr />
                <div class="bid-2 row">
                    <div class="col-md-2 col-xs-5 bid-2-box">
                        <p><i class="fa fa-bar-chart"></i><span class="bid-benefit">@(content.GetPropertyValue<string>("rate") + "%")</span></p>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        <p><i class="fa fa-clock-o"></i><span>@(content.GetPropertyValue<string>("cycle") + "个月")</span></p>
                    </div>
                </div>
                <hr />
                <p class="bid-content">@(content.GetPropertyValue<string>("introduction"))</p>
                <div class="bid-charts" id="charts" style="min-height:216px">
                    <img src="~/assets/images/ajax-loader2.gif" style="margin:0 auto;padding-top:100px" alt="Alternate Text" />
                </div>
                <div class="bid-characteristic">
                    <ul class="nav nav-tabs style-2" role="tablist">
                        <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab" aria-expanded="true">基金概况</a></li>
                        <li class=""><a href="#h2tab2" role="tab" data-toggle="tab" aria-expanded="false">产品特色</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="h2tab1">
                            <div class="row tab-pane1">
                                <div class="col-md-12">
                                    <ul class="list clearfix">
                                        <li class="col-sm-6"><span class="span1">基金名称</span><span class="span2">@(content.GetPropertyValue<string>("title"))</span></li>
                                        <li class="col-sm-6"><span class="span1">运作方式</span><span class="span2">开放式</span></li>
                                        <li class="col-sm-6"><span class="span1">基金类型</span><span class="span2">货币型</span></li>
                                        <li class="col-sm-6"><span class="span1">基金经理</span><span class="span2">邓崛</span></li>
                                        <li class="col-sm-6"><span class="span1">基金简称</span><span class="span2">零钱计划</span></li>
                                        <li class="col-sm-6"><span class="span1">币种</span><span class="span2">CNY</span></li>
                                        <li class="col-sm-6"><span class="span1">成立时间</span><span class="span2">2015-09-07</span></li>
                                        @*<li class="col-sm-6"><span class="span1">基金代码</span><span class="span2">000709</span></li>*@
                                        <li class="col-sm-6"><span class="span1">托管人</span><span class="span2">招商银行</span></li>
                                        <li class="col-sm-6"><span class="span1">管理人</span><span class="span2">鹏华资产深圳有限公司</span></li>
                                    </ul>
                                    <div class="tab-pane-content">
                                        <h6>投资目标</h6>
                                        <p>在力求本金安全、确保资产流动性的基础上，追求超越业绩比较基准的投资回报。</p>
                                    </div>
                                    <div class="tab-pane-content">
                                        <h6>投资策略</h6>
                                        <p>本基金将根据市场情况和可投资品种的容量，在严谨深入的研究分析基础上，综合考量宏观经济形势、市场资金面走向、信用债券的信用评级、协议存款交易对手的信用资质以及各类资产的收益率水平等，确定各类货币市场工具的配置比例并进行积极的投资组合管理，在保证基金资产的安全性和流动性的基础上力争为投资人创造稳定的收益。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="h2tab2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-pane-content">
                                        <h6>豪门定制，只为您</h6>
                                        <p><i class="icon-ok"></i>本产品由中国量化学会理事长--丁鹏博士操刀策划，给您真正的高大上体验</p>
                                    </div>
                                    <div class="tab-pane-content">
                                        <h6>专业团队，放心购买</h6>
                                        <p><i class="icon-ok"></i>国内首批货币基金管理人，拥有丰富的管理经验</p>
                                    </div>
                                    <div class="tab-pane-content">
                                        <h6>让利更明显</h6>
                                        <p><i class="icon-ok"></i>费率较传统货币基金明显降低，更多让利投资人</p>
                                    </div>
                                    <div class="tab-pane-content">
                                        <h6>风险小，收益高</h6>
                                        <p><i class="icon-ok"></i>产品最大回撤0.67%，收益历史最高可达66.9%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="bid-warning"><i class="icon-warning-empty"></i> 比特金服提醒您：投资有风险</p>
            </div>
            <div class="col-sm-3 bid-right">
                <div class="bid-right-content content1">
                    <h4 class="mb-20 ">即刻申购</h4>
                    @*/pay?id=@content.Id&minAmount=@(content.GetPropertyValue<double>("startAmount"))*@
                    <a href="/pay?id=@content.Id&minAmount=@(content.GetPropertyValue<double>("startAmount"))" class="btn-sm btn btn-block btn-warning">立即购买</a>
                    <p style="line-height: 25px;" class="mt-10">尊敬的用户您好，自2015年9月17日起，比特金服基金服务功能将全面展开。</p> 
                    <hr style="border-style: dashed" />
                </div>
                <div class="bid-right-content hidden-xs">
                    <h4 class="mb-20">了解更多？</h4>
                    <p>请点击右侧QQ图标在线咨询，我们将竭诚为你服务 --->></p>
                    <hr style="border-style: dashed" />
                </div>
                <div class="bid-right-content mt-20">
                    <h4 class="mb-20">大客户专享通道</h4>
                    <a href="#" class="btn-sm btn btn-default btn-block reservation-btn">立即预约</a>
                    <hr style="border-style: dashed" />
                </div>
                <div class="bid-right-content">
                    <img src="/assets/images/hezuo.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //$.get("/umbraco/Api/Member/GetProfitsByProductId?id="+@id,function (result) {
            var money = 10000;
            var rate =@(content.GetPropertyValue <string> ("rate"));
            var value = ((rate/100)*money)/365;
            var data=[];
            for (var i = 0; i < 7; i++) {
                data.push(parseFloat(value.toFixed(2)));
            }
            $("#rate").text(value.toFixed(2));
            $('#charts').highcharts({
                chart: {
                },
                title: {
                    text: '@(content.GetPropertyValue<string>("title")) 一周收益',
                    style: { color: "#F5B024", fontSize: "1.8em", fontFamily: '黑体', fontWeight: 600 }
                },
                xAxis: {
                    //categories:result.Times
                    categories: [GetDateStr(-6), GetDateStr(-5), GetDateStr(-4), GetDateStr(-3), GetDateStr(-2),GetDateStr(-1), GetDateStr(0)]
                },
                series: [{
                    type: 'spline',
                    name: '当日收益',
                    //data:  result.Datas,
                    data: data,
                    marker: {
                        lineWidth: 3,
                        lineColor: Highcharts.getOptions().colors[3],
                        fillColor: 'white'
                    },
                    itemStyle: { color: 'red' }
                }]
            });
            //});
        });
        function GetDateStr(AddDayCount) 
        { 
            var dd = new Date(); 
            dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期 
            //var y = dd.getYear(); 
            var m = (dd.getMonth()+1)<10?"0"+(dd.getMonth()+1):(dd.getMonth()+1);//获取当前月份的日期，不足10补0
            var d = dd.getDate()<10?"0"+dd.getDate():dd.getDate(); //获取当前几号，不足10补0
            return m+"-"+d; 
        }
    </script>
}